# Anthropic API key
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# gRPC server details
GRPC_HOST=[::]
GRPC_PORT=50051

# HTTP server details
HTTP_HOST=localhost
HTTP_PORT=8080

# Supabase details
SUPABASE_PROJECT_URL=https://project-id.supabase.co
SUPABASE_PROJECT_ID=project-id
SUPABASE_PUBLISHABLE_KEY=sb_publishable_*
SUPABASE_SECRET_KEY=sb_secret_*
SUPABASE_JWKS_URL=https://project-id.supabase.co/auth/v1/.well-known/jwks.json

DATABASE_URL=postgresql://postgres:*.supabase.co:5432/postgres