@import "tailwindcss";

:root {
  --background: #f7f5f0;
  --foreground: #171717;
  --primary: #040404;
  --secondary: #a3a2a2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-dm-serif-display: var(--font-dm-serif-display);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hide-scrollbar-track {
    /* Standard Firefox/Chrome hide by default */
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--secondary);
      border-radius: 9999px;
      /* This creates the "gap" at the top and bottom */
      border: 4px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--primary);
    }
  }
}